@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(17, 24, 39); /* gray-900 */
  color: rgb(243, 244, 246); /* gray-100 */
}

.bg-gray-750 {
  background-color: rgb(45, 45, 50);
}